<div class="row" data-masonry-options='{"percentPosition": true }'>
  <app-spinner [view]="viewSpinner"></app-spinner>
  <div class="col-md-4 py-4 my-2" *ngFor="let character of characters">
    <div class="card text-white">
      <img
        class="card-img"
        loading="lazy"
        [src]="character.thumbnail.path + '.' + character.thumbnail.extension"
        [alt]="character.name"
      />
      <div class="card-img-overlay">
        <h5 class="card-title">{{ character.name }}</h5>
        <p class="card-text">{{ character.description }}</p>
        <p class="card-text">Last updated {{ character.modified | date }}</p>
      </div>
    </div>
  </div>
</div>

<app-pagination
  [page]="count"
  (filter)="findCharacters($event)"
></app-pagination>
