.card .card-img-overlay {
  background-color: rgba(0, 0, 0, 0.35);
}

.card-footer {
  border: none;
  background-color: transparent;
  position: absolute;
  bottom: 0;
  right: 0;
}

.card-footer .btn {
  background-color: #e23636;
  color: #fff;
  transition: 0.3s all;
}

.card-footer .btn:hover {
  background-color: #f33939;
  transition: 0.3s all;
}
