.header {
  height: 120px;
  background-color: #000;
}

.header .container .row {
  padding: 30px 2px;
}

header img.img-logo {
  width: 80%;
}

@media screen and (max-width: 550px) {
  header img.img-logo {
    width: 65%;
  } 
}

@media screen and (min-width: 720px) {
  header img.img-logo {
    width: 50%;
  } 
}

@media screen and (min-width: 1024px) {
  header img.img-logo {
    width: 40%;
  } 
}

@media screen and (min-width: 1366px) {
  header img.img-logo {
    width: 30%;
  } 
}

