<div class="pagination d-flex justify-content-center align-content-center">
  <nav aria-label="Page navigation">
    <ul class="pagination">
      <li class="page-item">
        <a
          class="page-link"
          (click)="emitPagination((page - 1) * 21)"
          aria-label="Previous"
        >
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li class="page-item">
        <a class="page-link" (click)="emitPagination(page * 21)">{{
          page + 1
        }}</a>
      </li>
      <li class="page-item">
        <a class="page-link" (click)="emitPagination((page + 1) * 21)">{{
          page + 2
        }}</a>
      </li>
      <li class="page-item">
        <a class="page-link" (click)="emitPagination((page + 2) * 21)">{{
          page + 3
        }}</a>
      </li>
      <li class="page-item">
        <a
          class="page-link"
          (click)="emitPagination((page + 1) * 21)"
          aria-label="Next"
        >
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
</div>
