<div class="main">
  <div class="row justify-content-around">
    <div class="col-md-6">
      <h3 class="title">Comics</h3>
      <div class="body-desc">
        <p>
          Lorem ipsum, dolor sit amet consectetur aut beatae, quibusdam, esse
          vero nam nemo reiciendis rerum sit fuga qui vitae provident ratione
          facere eius. Praesentium, tempore id! adipisicing elit. Earum iste
        </p>
        <p>
          adipisicing elit. Earum iste aut beatae, quibusdam, esse vero nam nemo
          reiciendis rerum sit fuga qui vitae provident ratione facere eius.
          Praesentium, tempore id!
        </p>
        <p>
          quibusdam, esse vero nam nemo reiciendis rerum sit fuga qui vitae
          provident ratione facere eius Lorem ipsum, dolor sit amet consectetur
          adipisicing elit. Earum iste aut beatae, . Praesentium, tempore id!
        </p>
      </div>
    </div>
    <div class="col-md-4 img-comic">
      <img src="/assets/img/comic.jpg" alt="comic" />
    </div>
  </div>

  <section class="section">
    <app-cards></app-cards>
  </section>
</div>
