.col-md-4 {
  padding: 25px 35px;
}

.card {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.card-img-top {
  height: 350px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
