<footer class="footer">
  <div class="container">
    <div
      class="
        row
        text-center
        align-content-end
        justify-content-center
        align-items-center
      "
    >
      <div class="col-md-3">
        <a href="https://developer.marvel.com">© 2021 MARVEL DEVELOPER API</a>
      </div>
      <div class="col-md-9 d-flex align-items-center justify-content-center">
        <a
          href="https://linkedin.com/in/jheyson-zurita-soria-491525210"
          class="p-3"
        >
          <fa-icon [size]="'lg'" [icon]="faLinkedin"></fa-icon>
        </a>
        <a href="https://gitlab.com/jheysoria20" class="p-3">
          <fa-icon [size]="'lg'" [icon]="faGitlab"></fa-icon>
        </a>
        <a href="https://github.com/jheyson789" class="p-3">
          <fa-icon [size]="'lg'" [icon]="faGithub"></fa-icon>
        </a>
        <p class="m-0">
          Made with
          <fa-icon
            [icon]="faHeart"
            [size]="'lg'"
            [styles]="{ color: '#e23636' }"
          ></fa-icon>
          by Jheyson
        </p>
      </div>
    </div>
  </div>
</footer>
