.footer {
  margin-top: 40px;
  background-color: #000;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.footer .row {
  color: #fff;
  padding: 15px 0;
}

.footer .row a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s all;
}

.footer .row a:hover {
  color: #e23636;
  transition: 0.3s all;
}
